.custom-gradient-bg {
    background: linear-gradient(to right, #FF8B01, #FF416C, #E60001);
}

.custom-gradient-bg-nav {
    background: linear-gradient(to right, #FF8B01, #FF416C, #E60001);
}

.get-started-button {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    color: black;
    border-color: #FF8B01;
}

    .get-started-button:hover {
        background-color: #FF8B01;
        color: floralwhite;
    }
